* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  ::placeholder {
    color: #141000;
  }

  .background {
    background: linear-gradient(to left top, rgba(245, 192, 0, 0.8), rgba(255, 192, 0, 0.8));
  }

  .glass {
    background: linear-gradient(to top, rgba(245, 192, 0, 0.9), rgba(255, 192, 0, 0.9));
    backdrop-filter: blur(5rem);
  }

  body {
    background-color: #141000;
    background-image: url('./App/static/topography.png');
    background-size: cover;
  }

  header {
    background: rgba(20, 16, 0, 0.95);
    color: #141000;
    backdrop-filter: blur(3px);
    margin: 1rem 1rem;
    border: none;
    border-radius: 2em;
    position: sticky;
    top: 1rem;
    z-index: 1000;
  }

  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    max-height: 8vh;
    padding: 0rem calc((100vw - 1300px) / 2);
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper button {
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-decoration: none;
    color: #141000;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.3s;
    background: #f5c000;
    border: none;
    padding: 0.5rem 1rem;
  }

  .search {
    border: none;
    border-radius: 2em 0 0 2em;
    padding: 0.6rem 1rem;
    background-color: #f5c000;
    text-decoration: none;
    outline: none;
    letter-spacing: 2px;
    transition: 0.15s;
  }

  .logo {
    color: #f5c000;
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav a {
    text-decoration: none;
    color: #141000;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.3s;
    margin-left: 2rem;
    background: #f5c000;
    border: none;
    border-radius: 2em;
    padding: 0.5rem 1rem;
  }

  nav a:hover {
    opacity: 0.7;
  }

  .body-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0rem calc((100vw - 1300px) / 2);
    border: none;
    border-radius: 2em;
  }

  .welcome-container {
    display: flex;
    padding: 0rem calc((100vw - 1300px) / 2);
    border: none;
    border-radius: 2em;
  }

  .column-left {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    color: #141000;
    margin: 1rem;
  }

  .column-left h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 1000;
  }

  .column-left p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    color: #f5c000;
    background: #141000;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background: #275d22;
  }

  .column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }

  .column-right img {
    width: 100%;
  }

  .column-right-list {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20em;
    max-height: 40em;
    min-height: 28em;
    margin: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 2em;
    box-shadow: 0px 0px 8em rgba(0, 0, 0, 0.7);
    transform: scale(1);
    transition: 0.3s;
  }

  .card-image {
    width: 100%;
    border: none;
    border-radius: 2em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
  }

  .card-content {
    text-align: left;
  }

  .card-content h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .card-content p {
    font-size: 1rem;
    max-height: 16.4em;
    overflow-y: auto;
    margin: 0;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #b89000;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #141000;
    border-radius: 10px;
  }

  .card-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
  }

  .fav-card {
    display: flex;
    max-width: 20em;
    max-height: 40em;
    margin: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem;
    border: none;
    border-radius: 2em;
    box-shadow: 0px 0px 8em rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }

  .fav-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10em rgba(255, 192, 0, 1);
  }
  
  .fav-card-image {
    max-width: 110px;
    max-height: 110px;
    border: none;
    border-radius: 2em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
    margin-right: 0.5em;
  }

  .fav-card-content {
    text-align: left;
  }

  .fav-card-content h1 {
    font-size: 1rem;
    font-weight: bold;
  }

  .fav-card-content {
    font-size: 0.6rem;
  }
  
  .card-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style-type: none;
  }

  @media screen and (max-width: 768px) {
    .body-container {
      grid-template-columns: 1fr;
    }
  }

  .small-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
    border: none;
    border-radius: 50px;
    color: #f5c000;
    background: #141000;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none; /* Removes the underline */
    text-align: center; /* Centers the text */
  }

  .small-btn:hover {
    background: #990000;
  }

  .small-btn-container {
    display: flex;
    margin: 0 auto;
    margin-top: 0.5em;
    justify-content: center;
  }

  .welcome {
    margin: 4rem;
    margin-left: 3rem;
  }

  .welcome h1 {
    font-size: 5rem;
  }

  .username {
    display: inline;
    text-transform: uppercase;
    padding-left: 2rem
  }

  .heading-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
    padding: 0rem calc((100vw - 1300px) / 2);
    border: none;
    border-radius: 2em;
  }

  .heading-container h1 {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }

  .fade-in {
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }

  .flip-card {
    background-color: transparent;
    width: 20em;
    height: 28em;
    min-height: 28em;
    margin-bottom: 2rem;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    min-height: 28em;
    transform: rotateY(180deg);
  }