{% extends "layout.html" %}
{% block title %}Fitness Forge{% endblock %}
{% block page %}Fitness Forge{% endblock %}

{{ super() }}

{% block content %}
    <h1>Fitness Forge 💪</h1>
    
    
    {% if is_authenticated %}
        <p> Welcome {{current_user.username}} </p>
    {% endif %}
    
    <!-- show a list of all the exercises, retrieved from exercises db model, data for which comes from exercises.json -->
    <ul>
        {% for exercise in exercises %}
            <li>{{ exercise.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}