<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Forge</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='FitnessForge_logo_black.png') }}">
</head>

{% block content %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var lazyCards = [].slice.call(document.querySelectorAll(".lazy"));

      if ("IntersectionObserver" in window) {
          let lazyCardObserver = new IntersectionObserver(function(entries, observer) {
              entries.forEach(function(entry) {
                  if (entry.isIntersecting) {
                    let lazyCard = entry.target;
                    lazyCard.classList.add("fade-in");  // Add a class to trigger a CSS animation
                    lazyCardObserver.unobserve(lazyCard);
                  }
              });
          });

          lazyCards.forEach(function(lazyCard) {
              lazyCardObserver.observe(lazyCard);
          });
      } else {
          // Fallback for browsers that don't support IntersectionObserver
          lazyCards.forEach(function(lazyCard) {
              // Add your code to load card content here
              lazyCard.classList.remove("lazy");
          });
      }
  });
</script>
<body>
  <main class="background">
    <header class="header">
      <nav>
        <span class="logo">Fitness Forge</span>
        {% if current_user %}
        <div>
          <form class="wrapper" action="/search" method="GET">
            <input class="search" type="text" name="query" placeholder="Search for exercises">
            <button type="submit" class="fade-button">Search</button>
          </form>
        </div>
        <div class="nav-items">
          <a href="/logout">Log Out</a>
        </div>
        {% endif %}
      </nav>
    </header>
    <div class="welcome welcome-container">
      <h1>Welcome,</h1>
      <h1 class="username">{{ current_user.username }}</h1>
    </div>
    <div class="heading-container">
      <h1>All Exercises</h1>
      <h1>My Favorites</h1>
    </div>
    <div class="body-container">
      {% if not current_user %}
      <div class="column-left">
        <div class="card glass">
          <h1>Make your body shape</h1>
          <p>Join Fitness Forge and get fit with our best-in-class Routines</p>
          <a href="/login"><button>Sign In</button></a>
        </div>
      </div>
      <div class="column-right">
        <img src="{{ url_for('static', filename='fitnessWoman.png') }}" alt="image">
      </div>
      {% else %}
      <div class="column-left">
        {% for exercise in exercises %}
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card glass lazy">
                <img src="https://ik.imagekit.io/wrzqaga55/tr:n-fit_the_card/{{ exercise.image1 }}" class="card-image"
                  loading="lazy">
                <div class="card-content">
                  <h1 class="card-title">{{ exercise.name }}</h1>
                  <ul>
                    <li>Level: {{ exercise.level }}</li>
                    <li>Equipment: {{ exercise.equipment }}</li>
                    <li>Primary Muscles: {{ exercise.primaryMuscles }}</li>
                    <li>Category: {{ exercise.category }}</li>
                  </ul>
                </div>
                <div class="card-action">
                  <form action="/add-favorite" method="post" style="display: none;">
                    <input type="hidden" name="exercise_id" value="{{ exercise.id }}">
                    <input type="submit" value="Add to Favorites">
                  </form>
                  <button onclick="this.parentElement.querySelector('form').submit();">Add to Favorites</button>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card glass lazy">
                <div class="card-content">
                  <h1 class="card-title">{{ exercise.name }}</h1>
                  <p>{{ exercise.instructions }}</p>
                </div>
                <div class="card-action">
                  <form action="/add-favorite" method="post" style="display: none;">
                    <input type="hidden" name="exercise_id" value="{{ exercise.id }}">
                    <input type="submit" value="Add to Favorites">
                  </form>
                  <button onclick="this.parentElement.querySelector('form').submit();">Add to Favorites</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="column-right-list">
        {% for favorite in favorites %}
          <div class="fav-card glass lazy">
            <img src="https://ik.imagekit.io/wrzqaga55/tr:n-fit_the_card/{{ favorite.exercise.image1 }}" class="fav-card-image">
            <div class="fav-card-content">
              <h1 class="card-title">{{ favorite.exercise.name }}</h1>
              <ul>
                <li>Level: {{ favorite.exercise.level }}</li>
                <li>Equipment: {{ favorite.exercise.equipment }}</li>
                <li>Primary Muscles: {{ favorite.exercise.primaryMuscles }}</li>
                <li>Category: {{ favorite.exercise.category }}</li>
              </ul>
              <div class="card-action">
                <form action="/delete-favorite" method="post" style="display: none;">
                  <input type="hidden" name="exercise_id" value="{{ favorite.exercise.id }}">
                  <input type="submit" value="Remove from Favorites">
                </form>
                <button onclick="this.parentElement.querySelector('form').submit();" class="small-btn">Remove from Favorites</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endif %}
  </main>
</body>
{% endblock %}