<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Forge</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

{% block content %}
<body>
  <main class="background">
    <header class="header">
      <nav>
        <span class="logo">Fitness Forge</span>
        {% if current_user %}
        <div class="nav-items">
          <a href="/logout">Log Out</a>
        </div>
        {% endif %}
      </nav>
    </header>
      <div class="welcome body-container">
        <h1>Welcome, {{ current_user.username }}</h1>
      </div>
      <div class="heading-container">
        <h1>All Workouts</h1>
        <h1>My Favorites</h1>
      </div>
      <div class="body-container">
        {% if not current_user %}
          <div class="column-left">
            <div class="card glass">
              <h1>Make your body shape</h1>
              <p>Join Fitness Forge and get fit with our best-in-class Routines</p>
              <a href="/login"><button>Sign In</button></a>
            </div>
          </div>
          <div class="column-right">
            <img src="{{ url_for('static', filename='fitnessWoman.png') }}" alt="image">
          </div>
        {% else %}
          <div class="column-left">
          {% for exercise in exercises %}
          {% if exercise is none %}
              <h1>No exercises found</h1>
          {% else %}
              <div class="card glass">
                <img src="https://ik.imagekit.io/wrzqaga55/{{ exercise.image1 }}" class="card-image">
                <div class="card-content">
                    <h1 class="card-title">{{ exercise.name }}</h1>
                    <ul>
                        <li>Level: {{ exercise.level }}</li>
                        <li>Equipment: {{ exercise.equipment }}</li>
                        <li>Primary Muscles: {{ exercise.primaryMuscles }}</li>
                        <li>Category: {{ exercise.category }}</li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="#"><button>Add to Favorites</button></a>
                </div>
              </div>
          {% endif %}
          {% endfor %}
          </div>
          <div class="column-right-list">
            <div class="fav-card glass">
              <img src="./static/fitnessWoman.png" class="fav-card-image">
              <div class="fav-card-content">
                  <h1 class="card-title">Exercise Name</h1>
                  <ul>
                    <li>Level: </li>
                    <li>Equipment: </li>
                    <li>Primary Muscles: </li>
                    <li>Category: </li>
                  </ul>
                  <div class="card-action">
                    <a href="#" class="small-btn">Remove from Favorites</a>
                  </div>
              </div>
              
            </div>
          </div>
        {% endif %}
  </main>
</body>
{% endblock %}