{% extends "layout.html" %}
{% block title %}Fitness Forge{% endblock %}
{% block page %}Fitness Forge{% endblock %}

{{ super() }}

{% block content %}
    <h1>Fitness Forge 💪</h1>
    <img src="{{ url_for('static', filename='SiteBytes Logo - Main.png') }}" alt="SiteBytes Logo">
    
    {% if is_authenticated %}
        <p> Welcome {{current_user.username}} </p>
    {% endif %}
    <p>This is a boileplate flask application which follows the MVC pattern for structuring the project.</p>
{% endblock %}