{% block head %}
  <link rel="icon" href="{{ url_for('static', filename='FitnessForge_logo_black.png') }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<body>
  <main class="background">
    <div class="body">
      <div class="form-container">
        <section class="form">
          <div class="form-content glass">
            <a href="https://github.com/SiteBytes">
                <img src="{{ url_for('static', filename='FitnessForgeLogo.png') }}" alt="SiteBytes logo" class="form-image">
            </a>
            <h1>Login</h1>
            <form action="/api/login" method="POST">
              <div class="input-field">
                <input name="username" type="text" placeholder="Username" required>
              </div>
              <div class="input-field">
                <input name="password" type="password" placeholder="Password" required>
              </div>
              <button type="submit">Login</button>
              <div class="small-btn-container">
                <a class="small-btn" href="/signup">Don't have an account? Sign Up</a>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
</body>
{% endblock %}