{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
<body>
  <main class="background">
    <div class="body">
      <div class="form-container">
        <section class="form">
          <div class="form-content glass">
            <a href="https://github.com/SiteBytes">
                <img src="{{ url_for('static', filename='SiteBytes Logo - Main.png') }}" alt="SiteBytes logo" class="form-image">
            </a>
            <h1>Sign Up</h1>
            <form action="/signup" method="POST">
              <div class="input-field">
                <input name="username" type="text" placeholder="Username">
              </div>
              <div class="input-field">
                <input name="password" type="password" placeholder="Password">
              </div>
              <button type="submit">Sign Up</button>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
</body>
{% endblock %}